################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/A1/thirdparty
/A2/thirdparty
/A3/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/A3/out/build/x64-Debug
/A3/thirdparty
/A4/thirdparty
/A4/.vs/A4/CopilotIndices/18.3.511.5503
/A4/.vs/A4.slnx
/A4/.vs
/A4/out/build/x64-Debug
